body {
    background-color: azure;
    margin: 15px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    }

.campo-formulario {
    background-color: white;
    padding: 10px ;
    width: 100%;
    margin-bottom: 20px;
    }

.campo-formulario .MuiFormControl-root {
    width: 100%;
    }  
    
    .campo-formulario .MuiOutlinedInput-root {
        box-shadow: none !important;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
     }
     
     
     .campo-formulario .MuiInputLabel-outlined {
       background: #fff;
       padding: 0 4px;
       margin-left: 10px;
     }
     
     .campo-formulario .MuiOutlinedInput-input {
       padding: 20px 14px;
       box-shadow: none !important;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
     }
     
     .campo-formulario .MuiOutlinedInput-notchedOutline {
       border-color: #3f51b5;
     }

     .campo-formulario .MuiFormLabel-root.Mui-focused {
        color: #3f51b5;
      }
      
      .campo-formulario .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #3f51b5;
      }
      



 
 
 
 
  
   
 
 